body {
	background-color: #F9F9F9;
}

.site_content {
	width: 975px;
	margin: auto;
	background-color: white;
	font-family: 'Arial', sans-serif;
	padding: 20px;
}

.logo, .main_menu {
	display: inline-block;
	vertical-align: top;
}

.main_menu {
	float: right;
}

.logo {
	font-family: 'Oleo Script', cursive;
	font-size: 29pt;
	width: 165px;
	margin: 0 10px 20px 10px;
}

.logo_underline {
	font-size: 8pt;
	color: #999;
	font-family: 'Arial', sans-serif;
}

.main_menu_item {
	display: inline-block;
	vertical-align: top;
	margin: 20px 25px 40px 25px;
}

.main_menu_item>a {
	text-decoration: none;
	color: #666;
	font-size: 10pt;
}

.main_menu_item:hover>a {
	text-decoration: none;
	color: #222;
}

.main_menu_special_item>a {
	color: white;
	text-shadow: 0 0 1px grey;
}

.main_menu_special_item {
	width: 85px;
	padding: 5px 0; 
	margin: 14px 20px 40px 20px;
	background-color: #FFC552;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #EFBA4F;
}

.main_menu_special_item:hover>a {
	color: white;
}

.main_menu_special_item:hover {
	background-color: #FCA531;
}

.main_menu_sub {
	position: relative;
	margin: 0;
	padding: 20px 25px 40px 25px;
}

.main_sub_menu {
	position: absolute;
	border: 1px solid #DDD;
	width: 165px;
	left: -10px;
	top: 75%;
	padding: 8px;
	display: none;
	background-color: white;
}

.sub_menu_item {
	display: block;
	font-size: 10pt;
	color: #898989;
	box-sizing: border-box;
	padding: 10px;
	border-bottom: 1px solid #E5E5E5;
}

.sub_menu_item:last-child {
	border: 0px solid transparent;
}

.sub_menu_item>a {
	text-decoration: none;
	color: #898989;
}

.sub_menu_underline {
	color: #AAA;
	font-size: 8pt;
}

.sub_menu_item:hover {
	background-color: #F3F3F3;
}

.main_menu_sub:hover .main_sub_menu {
	display: block;
}

.hero_block {
	padding: 50px 0;
	border-bottom: 1px solid #E5E5E5;
}

.image_hero_block {
	width: 290px;
	height: 190px;
	padding: 5px;
	background-color: #F6F6F6;
	border: 2px solid #DFDFDF;
	position: relative;
	box-shadow: 0 2px 0 #747474;
	margin-left: 55px;
	display: inline-block;
}

.hero_nav_button_left, .image_hero_info,
.hero_nav_button_right {
	display: inline-block;
	vertical-align: top;
	padding: 0 2px 0 2px;
}

.hero_nav {
	position: absolute;
	width: 290px;
	left: 7px;
	bottom: 7px; 
}

.image_hero_info {
	color: white;
	background-color: rgba(0,0,0, 0.4);
	padding: 10px 23px 12px 5px;
	font-size: 11pt;
}

.image_info_underline {
	color: #555;
	font-size: 9pt;
}

.image_info_underline>mark {
	background-color: transparent;
	color: #FFC14C;
}

.hero_info {
	width: 500px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	padding-left: 20px;
}

.hero_name {
	font-size: 30pt;
	color: #515151;
	padding: 15px 0;
}

.hero_name_underline {
	font-size: 11pt;
	color: #8C8C8C;
	padding-bottom: 10px;
	border-bottom: 1px solid #F6F6F6;
}

.watch_button {
	background-color: #FFC04A;
	border: 1px solid #EFB74C;
	border-radius: 3px;
	margin-top: 10px;
	width: 170px;
	float: right;
	text-align: left;
}

.watch_info, .watch_link {
	display: inline-block;
	vertical-align: top;
}

.watch_info {
	width: 110px;
	font-size: 12pt;
	color: white;
	margin: 5px 0;
	padding-left: 10px;
	border-right: 1px solid #FFB43D;
}

.watch_left {
	display: block;
	width: 110px;
	color: #D28600;
	font-size: 8pt;
	text-transform: uppercase;
}

.watch_link{
	margin: 5px 0;
	border-left: 1px solid #FFC65D;
	padding: 5px 17px;
}

.content_header {
	font-family: "Oxygen", sans-serif;
	font-size: 15pt;
	padding: 20px 5px 10px 5px;
}

.first_content_item {
	display: inline-block;
	vertical-align: top;
	width: 31%;
	margin: 10px 9px;
}

.image_block {
	position: relative;
	background-color: white;
	padding: 2px;
	border: 1px solid #F0F0F0;
	height: 142px;
}

.image_overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	background-image: url(img/image_overlay.png);
}

.image_block:hover .image_overlay {
	display: block;
}

.image_info {
	background-image: url(img/first_content_item_backrgound.png);
	box-sizing: border-box;
	height: 55px;
	padding: 10px;
	padding-bottom: 0px;
}

.image_info_title {
	font-size: 11pt;
	color: #666;
}

.image_comment {
	font-size: 8pt;
	color: #B5B5B5;
}

.image_description {
	color: #666;
	font-size: 10pt;
	padding: 10px;
}

.site_footer {
	border-top: 1px solid #E5E5E5;
	padding: 5px;
}

.single_menu, .footer_two_menu {
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.articles {
	display: inline-block;
	width: 49%;
 }

 .footer_menu_title {
 	text-transform: uppercase;
 	color: #FFAD19;
	font-weight: bold;
	font-size: 11pt;
	padding: 10px 0;
 }

 .footer_menu_item {
 	padding: 7px 0;
 	font-size: 10pt;
 	color: #666;
 	border-bottom: 1px solid #E4E4E4;
 	width: 80%;
 }

 .footer_menu_item:last-child, .footer_article:last-child {
 	border: 0px solid transparent;
 }

 .footer_article {
 	position: relative;
 	padding: 5px 0 15px 25px;
 	border-bottom: 1px solid #E4E4E4;
 }

 .footer_article:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	width: 24px;
	height: 20px;
	background-image: url("img/footer_menu_icon.png");
 }

 .article_title {
 	font-size: 10pt;
 	color: #666;
 }

 .article_info {
 	font-size: 8pt;
 	color: #AAA;
 }