body {
	font-family: "Trebuchet MS";
}

.price_title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	color: #35495A;
	padding: 10px 50px 50px 50px;
}

.left_container, .center_container, .right_container {
	display: inline-block;
	width: 300px;
	border-radius: 5px;
}

.left_container {
	background-color: #2BC2D4;
	margin-left: 10px;
}

.center_container  {
	position: relative;
	z-index: 100;
	right: 10px;
	background-color: #EE8129;
	margin-left: 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	padding: 4px;
}

.right_container {
	position: relative;
	z-index: 1;
	right: 20px;
	background-color: #00B89A;
}

.side_head, .center_head{
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	padding: 17px 50px;
	font-weight: bold;
	font-size: 25px;
}

.center_head {
	padding: 23px 50px;
}

.side_main, .center_main {
	background-color: white;
}

.side_main {
	padding-bottom: 20px;
	border: 1px solid rgba(208,212,209, 0.5);
}

.center_main {
	padding-bottom: 33px;
}

.head2 {
	text-align: center;
	text-transform: uppercase;
	padding: 15px 10px;
	font-size: 25px;
	font-weight: bold;
	color: #35495A;
}

.price{
	position: relative;
	right: 20px;
	bottom: 10px;
	font-size: 70px;
	font-weight: bolder;
	color: #35495A;
	width: 80px;
	margin: auto;
}

.price::before {
	content: "$";
	font-size: 20px;
	position: absolute;
	width: 10px;
	left: -10px;
	top: 10px;
}

.price::after {
	content: "Monthly";
	font-size: 17px;
	position: absolute;
	width: 70px;
	right: -70px;
	bottom: 5px;
}

.list {
	display: block;
	width: 260px;
	margin: 15px auto;
	color: #91949C;
	font-size: 15px;
	line-height: 25px;
	padding: 0;
	list-style-position: inside;
	list-style-image: url("mark.gif");
}

.list>li {
	padding-bottom: 5px;
	padding-left: 35px;
}

.list li:nth-child(odd) {
	background-color: #EDF5FD;
}

.list li:nth-child(even) {
	background-color: #F5F5F6;
}

.side_button, .center_button {
	width: 245px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color: white;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 15px;
}

.center_button {
	background-color: #EE8129;
	box-shadow: 0 2px 0 0 #B3560B;
}

.side_button {
	background-color: #2F70A8;
	box-shadow: 0 2px 0 0 #13426B;
}