.recall_conrainer {
	background-image: url(background.jpg);
	font-family: "Arial";
	overflow: hidden;
	padding-bottom: 30px;
}

.recall_title {
	color: #3170A8;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	padding: 40px;
}

span.highlighted {
	color: #EE8129;
}

.recall_left, .recall_right {
	display: inline-block;
	width: 505px;
	margin-top: 30px;
}

.recall_left {
	margin-left: 10%;
	margin-right: 3%;
}

.recall_right {
	margin-right: 10%;
}

.recall_left>img, .recall_right>img, .triangle, .data{
	display: inline-block;
}

.recall_left>img, .recall_right>img {
	width: 100px;
	height: 100px;
}

.triangle {
	position: relative;
	bottom: 30px;
	right: 10px;
	border: 15px solid transparent;
	border-right: 15px solid white;
	margin-right: 0; 
}

.data {
	position: relative;
	bottom: 13px;
	right: 15px;
	width: 365px;
	background-color: white;
}

.name {
	width: 74%;
	float: left;
	padding-left: 3%; 
}

.name::before {
	content: " - ";
}

.job {
	width: 20%;
	float: right;
	padding-right: 3%;
}

.name, .job {
	color: #3070A8;
	text-transform: capitalize;
	font-style: italic;
	font-size: 13px;
	font-weight: bold;
}

.comment {
	color: grey;
	border-top: 2px dotted grey;
	margin-top: 10px;
	margin-left: 0;
	padding: 10px;
	text-align: justify;
	font-size: 14px;
}

.head {
	padding: 10px 0;
}