body {
	background-color: #F6F9F9;
	padding: 10px;
}

.photos_container {
	max-width: 1160px;
	margin: auto;
	padding: 50px 0;
}

.photo {
	display: inline-block;
	position: relative;
	width: 360px;
	height: 260px;
	margin: 10px;
}

.title {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 35pt;
	color: #2E3A51;
	padding-top: 20px;
}

.info {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: grey;
	padding-top: 10px;
}

.photo_overlay {
	position: absolute;
	width: 360px;
	height: 260px;
	background-color: rgba(21,164,250,0.8);
	left: 0;
	bottom: 0;
	display: none;
}

.zoom, .link {
	background-color: transparent;
	width: 42px;
	height: 42px;
	position: absolute;
	bottom: 110px;
}

.zoom {
	left: 135px;
}

.link {
	left: 185px;
}

.zoom:hover, .link:hover {
	background-color: #15A4FA;
}

.photo:hover .photo_overlay {
	display: block;
}

.content_overlay {
	display: none;
}

.content_overlay_selected{
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 0.8);
	z-index: 100;
}

.big_photo>img {
	width: 100%;
	height: 100%;
}

.big_photo {
	max-width: 1140px;
	font-size: 0;
	width: 84%;
	min-width: 400px;
	box-sizing: border-box;
	border: 4px solid grey;
	border-radius: 5px;
	margin: auto;
	position: relative;
	top: 10%;
}

.big_photo:after {
	content: 'x';
	font-size: 12pt;
	display: block;
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	background-color: #FA4B15;
	color: white;
	text-align: center;
	padding-top: 12px;
	position: absolute;
	left: 90%;
	bottom: 95%;
}